semantic-kernel==1.39.3
psycopg2==2.9.10
notebook==7.4.3
pandas==2.2.3
semantic-kernel==1.39.3
psycopg2-binary == 2.9.10
psycopg_binary
psycopg_pool
psycopg
rich
azure-cosmos
pgvector
numpy
openai
ipykernel
azure-mgmt-postgresqlflexibleservers==1.0.0
mcp==1.9.4
azure-identity==1.23.0
pyodbc==5.2.0
azure-search-documents